<div class="container-fluid p-0 bg-light">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="jumbotron-background leadership-bg"> </div>
    <div class="container text-white">
      <h1 class="display-4 text-center">Roadmap for Women Aspiring for Senior Leadership Role</h1>
    </div>
  </div>

  <div class="container-fluid pt-5">
    <div class="row justify-content-center">
      <div class="col-auto mb-3" *ngFor="let step of steps; let i = index ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step {{i+1}}</h5>
            <p class="card-text">{{step.stepName}}</p>
            <a routerLink="step{{step.stepNo}}" routerLinkActive="active" class="card-link">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  All pathways are fine here 
-->