<div class="container">
  <div class="banner">
    <p>Roadmap for Sponsoring Executives</p>
  </div>
  <div class="sub-banner">
    <h1>Step 5: PLUS, Provide Air Cover</h1>
  </div>
  <div class="exec-content content">
    <h2>Protect your Investment</h2>
     <ul class="item-list">
      <li>Provide your protégé with the resources—tools, training, staff, time or workspace—he/she may need to succeed</li>

      <li>Provide or connect your protégé to expertise he/she may need to “get up the curve” or recover from a stumble</li>

      <li>Defend your protégé: Make it clear you won’t tolerate behaviors that throw into question his/her
        competency, threaten his/her progress, or undermine his/her mission</li>

      <li>Give the latitude necessary to allow him/her to grow into a stretch assignment. </li>
    </ul>

  </div>
</div>