<div class="container">

  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>
  <div class="sub-banner">
    <h2>Step 2: Embrace Today’s Talent Imperatives</h2>
  </div>

  <div class="row">
    <div class="col-sm-12 pb-5">
      <canvas id="canvasDemographics">{{ chartDemographics }}</canvas>
    </div>
    <div class="col-sm-12">
      <canvas id="canvasRegion">{{ chartRegion }}</canvas>
    </div>
  </div>

</div>