<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>
  <div class="sub-banner ">
    <h1>Step 7: Nail the Tactics</h1>
  </div>
  <div class="content leader-content">
    <div class="item-box">
      <h2>Increase your internal visibility</h2>
      <p>Play a leadership role with a network
        Organize a cultural event or community service project
        Create a “personal board of directors”</p>
    </div>

    <div class="item-box">
      <h2>Increase your external visibility</h2>
      <p>Join a not-for-profit board - or let people know that you are a member
        Attend conferences and attempt to get on a panel
        Join an external network
      </p>
    </div>
    <div class="item-box">
      <h2>Build your buzz</h2>
      <p>Determine your distinct ‘value-add’ and consciously build your brand around it
        Develop and lead a team—your own “posse”
        Work with peers to sing each other’s praises
      </p>
    </div>
    <div class="item-box">
      <h2>Get in front of target sponsors</h2>
      <p>Ask a supportive manager for stretch assignments in sponsor’s line of sight
        Request meeting for career development advice
        Ask for mentorship—and then convert mentor into a sponsor
      </p>
    </div>
  </div>
</div>

<!-- 
Increase your external visibility
Join a not-for-profit board - or let people know that you are a member
Attend conferences and attempt to get on a panel
Join an external network

Build your buzz
Determine your distinct ‘value-add’ and consciously build your brand around it
Develop and lead a team—your own “posse”
Work with peers to sing each other’s praises

Get in front of target sponsors
Ask a supportive manager for stretch assignments in sponsor’s line of sight
Request meeting for career development advice
Ask for mentorship—and then convert mentor into a sponsor -->