<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>
  <div class="sub-banner">
    <h1> Step 3: Distribute Your Risk</h1>
  </div>

  <div class="leader-content content">
    <div class="item-box">
      <h2>In this era of flat-lined growth and executive churn</h2>
      <p>A sponsor might move on (or get fired) You might need to move on (or let go) </p>
    </div>
    <div class="item-box">
      <h2>The “2+1 Rule”</h2>
      <p>Need three sponsors—two on the inside, one on the outside
        Internal sponsors are ideally two bandwidths away
        One with line of sight
        One in another business unit
        External sponsor must be able to attest to your leadership skills/experience
      </p>
    </div>
  </div>
</div>