<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>
  <div class="sub-banner">
    <h1>Step 4: Come Through on Two Obvious Fronts</h1>
  </div>

  <div class="content leader-content">
    <div class="item-box">
      <h2>Performance</h2>
      <p>Deliver outstanding bottom-line results
        Hit targets and deadlines
        Display impressive work ethic and availability
      </p>
    </div>

    <div class="item-box">
      <h2>Loyalty</h2>
      <p>
        Demonstrate trustworthiness and discretion
        Have your sponsor’s back
        Burnish your sponsor’s brand across the organization
        Grow your sponsor’s legacy
      </p>
    </div>
  </div>
</div>