<div class="container">
  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>
  <div class="sub-banner">
    <h1>Step 1: Understand What’s in It for You</h1>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="sub-banner">
        <h2> A high-performing cadre of loyal, diverse protégés…</h2>
      </div>
      <ul class="item-list">
        <li>Expands your capacity to deliver </li>
        <li>Extends your span of influence </li>
        <li>Boosts your innovation quotient </li>
        <li>Burnishes your brand </li>
        <li>Promotes your legacy </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>