<div class="container">
  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>

  <div class="sub-banner">
    <h2>Step 7: Help Create a Culture of Sponsorship at Your Organization</h2>
  </div>

  <div class="row content exec-content">
    <div class="col-sm-12 col-md-6 my-card">
      <h3>Educate & Evangelize</h3>
       <ul class="item-list">
        <li>Explain what sponsorship is, what sponsors do, and how ‘the sponsor effect’ impacts women and ethnic
          minority professionals</li>
        <li>Tell colleagues how seriously you take being a sponsor</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6 my-card">
      <h3>Evaluate leaders on how well they’ve developed diverse talent</h3>
       <ul class="item-list">
        <li>Performance reviews must include breadth and depth of talent development</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 my-card">
      <h3>Structure, drive, and support initiatives that give high-potentials access to senior management</h3>

       <ul class="item-list">
        <li>Create networking events</li>
        <li>Foster mentorships</li>
        <li>Structure business challenge competitions</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 my-card">
      <h3>Create alternative leadership opportunities through…</h3>
       <ul class="item-list">
        <li>EY networks</li>
        <li>Corporate responsibility projects and initiatives</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 my-card">
       <ul class="item-list">
        <li>Model sponsor behavior</li>
        <li>Connect your protégés to people who can help them</li>
        <li>Pull them into special projects</li>
        <li>Develop your protégés in the public eye</li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6 my-card">
      <h3>Help your protégés become sponsors</h3>
    </div>
  </div>
</div>