<div class="container">
  <div>
    <div class="banner">
      <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
    </div>
    <div class="sub-banner">
      <h1>Step 6: Exude Executive Presence</h1>
    </div>
    <div class="row content leader-content">
      <div class="col-sm-12 col-md-6">
        <h4>To crack this code you need to: </h4>
         <ul class="item-list">
          <li>Vault over the “Appearance” banner
             <ul class="item-list">
              <li>
                Convey “polish”
              </li>
            </ul>
          </li>
        </ul>
         <ul class="item-list">
          <li>Nail "Communication"
             <ul class="item-list">
              <li>Learn how to command a room</li>
            </ul>
          </li>
        </ul>
         <ul class="item-list">
          <li>Project "Gravitas"
             <ul class="item-list">
              <li>learn how to be seen as a heavy-weight with impact</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="sub-banner">
          <p>Executive Presence Mistakes*</p>
          <small>The list of top EP mistakes (chosen by 50% of respondents), was twice as long for women as for men</small>
        </div>

        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">for women</th>
                <th scope="col">for men</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Unkempt Attire</td>
                <td>Unkempt Attire</td>
              </tr>
              <tr>
                <td>Overly Sexy Clothing</td>
                <td>Sweat Stains</td>
              </tr>
              <tr>
                <td>Too much make-up</td>
                <td>Bad breadth</td>
              </tr>
              <tr>
                <td>Being Overweight</td>
                <td>Dandruff</td>
              </tr>
              <tr>
                <td>Gray Roots </td>
                <td>Obvious hairpiece</td>
              </tr>
              <tr>
                <td>Flashy Jewlery </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
  <div>
    <!-- Place for tables Executive Presense Mistakes -->
    <!-- Men Women -->
  </div>
</div>