@import '../styles';
.navbar-text {
    font-family: $title-font;
    font-size: 1.75rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-brand {
    margin: 0.5rem
}

.nav-item {
    font-family: $text-font;
    font-size: 1rem !important;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.footer {
    color: white;
    font-family: $text-font;
    margin: 0 auto;
    background: $footer-bg;
    text-align: center;
    h3 {
        font-weight: bold;
    }
    hr {
        background-color: white;
    }
    p {
        padding-bottom: 0.5rem;
    }
    a {
        font-weight: bold;
    }
}