<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a routerLink="/landing" class="navbar-brand" href="#">
            <img src="../assets/gi_logo.png" width="50" height="50" class="d-inline-block align-top ml-2 mr-2" alt="">
            <img src="../assets/ujyalo_logo.jpg" width="50" height="50" class="d-inline-block align-top ml-2 mr-2" alt="">
        </a>
        <span class="navbar-text pl-5 pr-5 d-none d-sm-block">
            Mero Awaj
        </span>
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/landing" routerLinkActive="active">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forms" routerLinkActive="active">Questionaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/roadmap-for-women" routerLinkActive="active">Leadership Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/roadmap-for-sponsoring-executives" routerLinkActive="active">Executives
                        Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/agenda" routerLinkActive="active">Agenda</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="pb-5 bg-light">
        <router-outlet></router-outlet>
    </div>

    <div class="footer container-fluid p-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>Contact Us</h3>
                <hr>
                <p>Mero Awaj</p>
                <p><a href="mailto:merawaj2017@gmail.com">merawaj2017@gmail.com</a> </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <h3>Partners</h3>
                <hr>
                <p><a target="_blank" href="http://www.ujyalofoundation.org/">Ujyalo Foundation</a></p>
                <p>26/29 Samata Marg, 4, Kathmandu</p>
                <p>01-4455631</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h3>Developers</h3>
                <hr>
                <p>Srijan Pandey | Suyash Mathema</p>
                <p>Talk to Developers</p>
                <p><a href="mailto:p.srijan08@gmail.com">p.srijan08@gmail.com </a></p>
                <p><a href="mailto:p.srijan08@gmail.com">suyashmathema@gmail.com</a></p>
            </div>
        </div>
        <hr />
        <div class="credits">
            <p class="text-sm-left text-md-center text-lg-center text-xl-center">&copy; Srijan Pandey | Suyash Mathema
                2018</p>
        </div>
    </div>
</div>