@import '../../styles';

.form-group {
    font-family: $text-font;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn {
    font-family: $text-font;
}

h1 {
    font-family: $title-font;
    font-size: 2rem;
    color: #000000;
    padding: 3rem;
}

label {
    padding-bottom: 0.5rem;
    display: block;
}

.question-bg {
    background-image: url('../../assets/question.webp'), url('../../assets/fallback.jpg');
    background-position: 50% 20%;
}

.lead {
    color: #ffffff;
}