<div class="container-fluid p-0 bg-light">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="jumbotron-background question-bg"> </div>
    <div class="container text-white">
      <p class="lead">"Representation of women is a business issue,
        it can enable and accelerate strategic aspirations if leverage effectively, but if dismissed or neglected,
        can stifle growth, innovation and performance."</p>
    </div>
  </div>

  <div [hidden]="!submitted">
    <h1>You have successfully Submitted the Form.</h1>
  </div>

  <div [hidden]="submitted">
    <div class="row justify-content-center bg-light pb-5">
      <div class="col-6 form-div">
        <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="answers.name" name="name">
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" [(ngModel)]="answers.age" name="age" required #age="ngModel">
            <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
              Age is required
            </div>
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" [(ngModel)]="answers.gender" name="gender" required
              #gender="ngModel">
            <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
              Gender is required
            </div>
          </div>

          <div class="form-group">
            <label for="empStatus">Employment Status</label>
            <input type="text" class="form-control" id="employmentStatus" [(ngModel)]="answers.employmentStatus" name="educationStatus"
              #employmentStatus=ngModel required>
            <div [hidden]="employmentStatus.valid || employmentStatus.pristine" class="alert alert-danger">
              Employment status is required
            </div>
          </div>

          <div class="form-group">
            <label for="empYears">Years in employment</label>
            <input type="number" class="form-control" id="empYears" [(ngModel)]="answers.employmentYears" name="employmentYears"
              #empYears=ngModel required>
            <div [hidden]="empYears.valid || empYears.pristine" class="alert alert-danger">
              Years in employment is required
            </div>
          </div>

          <div class="form-group">
            <label for="work"> Area of Work</label>
            <select [(ngModel)]="answers.areaOfWork" name="areaOfWork" class="form-control" #areaOfWork=ngModel
              required>
              <option [ngValue]="'Private'">Private Sector</option>
              <option [ngValue]="'Ngo'">Non-Governmental Organization ("NGO")</option>
              <option [ngValue]="'International Doner'">International donor Organization (e.g. World Bank, Save the
                Children, UN etc)</option>
              <option [ngValue]="'Self Employed'">Self Employeed</option>
            </select>
            <div [hidden]="areaOfWork.valid || areaOfWork.pristine" class="alert alert-danger">
              Area of Work is required
            </div>
          </div>

          <div *ngFor="let q of questions; let i=index" class="form-group">
            <label> {{q.qno}}. {{q.question}} </label>
            <label *ngIf="q.qdesc">{{q.qdesc}}</label>

            <div class="pb-3" *ngIf="q.optionType == 'checkbox'">
              <div class="form-check">
                <div *ngFor="let opt of q.options ;  let j = index">
                  <input type="checkbox" name="opt" [(ngModel)]="answers.indvQues[i].checkBox[j].value">{{opt}}
                </div>
              </div>
            </div>

            <div class="pb-3" *ngIf="q.optionType =='radio' || q.optionType == null">
              <select *ngIf="q.options" [(ngModel)]="answers.indvQues[i].optionValue" name="q-{{i}}" id="q-{{i}}" class="form-control"
                required>
                <option *ngFor="let opt of q.options" [ngValue]="opt">{{opt}}</option>
              </select>
            </div>

            <label for="'comment'-i"> Comment: </label>
            <textarea rows="4" cols="50" name="comment-{{i}}" id="comment-{{i}}" form="usrform" [(ngModel)]="answers.indvQues[i].comments"
              #comments=ngModel required></textarea>
            <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
              Comment is required
            </div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="!questionForm.form.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>

<!--
 * Personal information: 
Name: [Optional] 
Age [ ] 
Gender: [ ] 
Education: [ ] 
Employment status: [ ] 
Years in employment: [ ]
Area of work: 
	Private sector 
	Non-Governmental    Organisation (“NGO”) 
	International donor organisations (e.g World Bank, Save the Children, UN etc) 
Self-employed 

 */


1. Interest – Are you interested in progressing / reaching senior leadership positions at your work?

Definitions: 

Senior leadership role – Manager equivalent or above.

Very interested 
Interested 
Undecided 
Not interested 


2. Role models – Do you have female role models at work who you can look up to and aspire to be? 

Definition - Role model is someone you look upto and aspire to be

Yes 
No 
Unsure 

3. Career paths – Do you think there are clear opportunities for women to progress to senior leadership roles at your workplace?

Yes 
No 
Unsure 

4. Career break – Have you taken a career break? If so, what was the reason for it? 

Definition: Any period in your career where you stopped working. 

Yes 
No 

If Yes, please provide reason for it below


5. Drivers for pursuing your career: What, in your opinion, drives you to achieve promotion or any other success at work? (Choose more than one if applicable) 

Better financial stability (e.g. higher salary, better bonus) 
Pressure from family 
Personal satisfaction and fulfilment 
Desire for growth and continuous development 
Contribute to wider society, community and the country
Other  


5. Challenges at workplace for women: What, in your opinion, are some of the key challenges women in Nepal face at workplace today? 

Balancing personal and work life 
Lack of support from family 
Lack of support from workplace 
Other 


6. Key hold-backs: What, in your opinion, are key social challenges for women in Nepal to rise to senior leadership positions at work? (Choose more than one if applicable)

Role of women at home and childcare  
Stereotypes and social conventions 
Lack of role models


7. Improvement: How do you think senior management, Board and Executive Committee members of your workplace can encourage and contribute to retain, develop women in senior leadership role? 


8. Importance: Do you see representation of women in senior leadership positions, at your / any other workplace in Nepal a challenge? 

Yes 
No 
Unsure


9. Role: Who do you think is responsible for encouraging women to rise up to senior leadership ranks at work place? (Choose more than one if applicable) 

Women at work 
Men at work 
Women and men at work 
Board, Executive Committee and current senior management 
No one   


10. What, in you opinion, can you do, individually, the change the status quo of women in workplace in Nepal today? 



-->