<div class="container-fluid p-0 bg-light">
  <div class="container p-3">
    <div class="row justify-content-center">
      <div class="card card-row text-center m-3">
        <div class="card-body">
          <h5 class="card-title">Gender Inclusiveness Strategy</h5>
          <p class="card-text">Aspirations, Corporate strategy alignment, Business case, Setting Gender inclusiveness
            Priorities and
            Approach</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card card-row text-center text-white bg-dark m-3">
        <div class="card-body">
          <p class="card-text">Behaviours and organizational values</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card card-row text-center m-3">
        <div class="card-body">
          <h5 class="card-title">Governance</h5>
          <p class="card-text">Rules and responsibilities, Terms of reference, Senior level scrutiny, Ability to inform
            future talent and CSR
            Plans. Links to employee resource groups, Programme sponsorship and management</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card card-row text-center text-white bg-dark m-3">
        <div class="card-body">
          <p class="card-text">Internal Messaging - Communication and messaging - External Communications</p>
        </div>
      </div>
    </div>

    <hr class="bg-dark">
    <div class="container-fluid p-3">
      <div class="row justify-content-center">
        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/data.jpg">
            <div class="card-body">
              <h5 class="card-title">Data and Business processes</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Data collection and Analytics Capability</li>
              <li class="list-group-item p-3">Policies</li>
              <li class="list-group-item p-3">Procedures</li>
              <li class="list-group-item p-3">Equality Pay review</li>
              <li class="list-group-item p-3">Accessbility review</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/talent.jpg">
            <div class="card-body">
              <h5 class="card-title">Talent attraction management and retention</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Employee Value Proposition</li>
              <li class="list-group-item p-3">Talent Identification and recruitment processess</li>
              <li class="list-group-item p-3">Reward and incentives</li>
              <li class="list-group-item p-3">Flexible working</li>
              <li class="list-group-item p-3">Cost of exit/restructuring</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/performance.jpg">
            <div class="card-body">
              <h5 class="card-title">Performance management and progression</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Appraisal and feedback mechanisms</li>
              <li class="list-group-item p-3">Analysis of performance ratings applied</li>
              <li class="list-group-item p-3">Analysis of progression rates</li>
              <li class="list-group-item p-3">Career development frameworks</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/leader.jpg">
            <div class="card-body">
              <h5 class="card-title">Leadership competence and accoountability</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Measurable leadership behaviours and accountability</li>
              <li class="list-group-item p-3">Sponsorship and mentoring</li>
              <li class="list-group-item p-3">Leadership messaging</li>
              <li class="list-group-item p-3">Senior level visibilty and active involvement in Gender Inclusiveness
                activities</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/learning.jpg">
            <div class="card-body">
              <h5 class="card-title">Learning and development</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Learning strategy</li>
              <li class="list-group-item p-3">Gender inclusiveness understanding</li>
              <li class="list-group-item p-3">Inclusive leadership development</li>
              <li class="list-group-item p-3">Inclusiveness People Managers</li>
            </ul>
          </div>
        </div>

        <div class="col-auto mb-3">
          <div class="card">
            <img class="card-img-top" src="../../assets/brand.jpg">
            <div class="card-body">
              <h5 class="card-title">External brand and CSR</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-3">Customer/Brand recognition</li>
              <li class="list-group-item p-3">External partnership</li>
              <li class="list-group-item p-3">CSR</li>
              <li class="list-group-item p-3">Sustainability</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="bg-dark">

    <div class="container-fluid p-3">
      <div class="row justify-content-center">
        <div class="card card-row text-center text-white bg-dark m-3">
          <div class="card-body">
            <h5 class="card-title">Bias Mitigation and Measures</h5>
          </div>
          <ul class="list-group list-group-flush text-dark">
            <li class="list-group-item p-3">Impact and effectiveness of Unconscious Bias traning or gender specific
              initiatives</li>
            <li class="list-group-item p-3">Diagnostics and insight, Evaluation Success, ROI, Scorecard, Reporting and
              Tracking</li>
          </ul>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card card-row text-center text-white bg-dark m-3">
          <div class="card-body">
            <h5 class="card-title">Employee experience and engagement</h5>
          </div>
          <ul class="list-group list-group-flush text-dark">
            <li class="list-group-item p-3">Engagement Survey</li>
            <li class="list-group-item p-3">Review</li>
            <li class="list-group-item p-3">Employee Resources Groups and Networks</li>
            <li class="list-group-item p-3"> Employee Feedback</li>
            <li class="list-group-item p-3">Employee support and Adjustment</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>