@import '../../styles.scss';

.container {
    max-width: 85rem;
}

.card {
    width: 20rem;
    height: auto;
    .card-title {
        font-size: 1.5rem;
        font-family: $title-font;
    }
    .list-group-item {
        font-size: 1rem;
        font-family: $text-font;
    }
    img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
    }
}

.card-row {
    width: auto;
    max-width: 150rem;
}