<div class="container">
  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>
  <div class="sub-banner">
    <p>Step 4: Come Through on Two Essential Fronts</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="sub-banner">
        <p>Push for Promotion</p>
      </div>
       <ul class="item-list">
        <li>Provide stretch opportunities </li>
        <li>Burnish protégé’s image, provide visibility</li>
        <li>Advocate for a more senior role</li>
      </ul>

    </div>
    <div class="col-sm-12 col-md-6">
      <div class="sub-banner">
        <p>Go Out on a Limb</p>
      </div>

       <ul class="item-list">
        <li>Use up chips/relationship capital</li>
        <li>Connect proteges to your circle of leaders</li>
        <li>Find proteges a safe haven during rough times</li>
      </ul>
    </div>
  </div>
</div>