@import '../../styles';
.jumbotron {
    height: 45em;
    .container {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        h1 {
            font-family: $title-font;
            font-size: 2.5rem;
            color: white;
            padding-bottom: 3rem;
            text-align: center;
            text-shadow: 1px 1px 3px #000;
        }
        .blockquote footer {
            font-family: $text-font;
            text-align: center;
            font-size: 1rem;
            color: white;
        }
    }
}

.landing-bg {
    background-image: url('../../assets/landing.jpg'), url('../../assets/fallback.jpg');
}

.landing-intro {
    font-family: $text-font;
    font-size: 1.2rem;
    color: #000;
    text-align: justify;
}

.people-logos {
    p {
        font-size: 1.1rem;
        margin-top: 0.75rem;
    }
    text-align: center;
    vertical-align: bottom;
}