<div class="container-fluid p-0 bg-light">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="jumbotron-background landing-bg"> </div>
    <div class="container text-white">
      <h1>Women in Leadership in Nepal Initiative</h1>
      <blockquote class="blockquote text-center">
        <p class="mb-2">It is important for women and men to see strong and capable women in positions of leadership,
          so
          we understand that certain characteristics such as gender and race do not determine how well people do in
          those
          offices.</p>
        <footer class="blockquote-footer">Elizabeth Garrett, First Female President of Cornell University</footer>
      </blockquote>
      <br />
    </div>
  </div>

  <div class="row container m-auto">
    <div class="landing-intro col-12">
      <p>While globalisation and technological advances have changed workforce demographics and brought unprecedented
        growth opportunities for many, opportunities are still disproportionately distributed and women. Especially
        in
        developing countries, women continue to face discrimination at home and at work.</p>
      <br />
      <p>In Nepal, working women face different kinds of violence, unequal pay, and social discrimination at
        workplace
        despite laws ensuring equal rights, fair wages, and social protection.</p>
      <br />
      <p>Women also do not receive the appreciation or reward they deserve for working as much, and arguably even
        more,
        than men. Most working women have to go home to more domestic work which goes unrecognised. Many women even
        face
        violence at the hands of co-workers and even family members. </p>
      <br />
      <p>One of the biggest challenges today in Nepal (as well as elsewhere in the world) is representation of women
        in
        senior leadership positions. This problem is pervasive in both private (financial institutions, businesses
        etc)
        and public sectors (Government, NGOs etc) in Nepal. In order to address this issue, we need focused data to
        understand the challenges women at workplace in Nepal face everyday to devise tailored solutions for aspiring
        women as well as senior sponsor.</p>
    </div>

    <!-- <div class="people-logos col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 mb-4">
      <div class="row justify-content-center align-items-end">
        <div class="col-auto">
          <img src="../../assets/man_icon.png" height="100" width="100">
          <p>95.2%</p>
        </div>
        <div class="col-auto">
          <img src="../../assets/women_icon.png" height="50" width="50">
          <p>4.8%</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Of the CEOS who lead the companies that make up the 2018 Fortune 500 list,<a href="http://fortune.com/2018/05/21/women-fortune-500-2018/">
              out today</a>, just 24 are women.</p>
        </div>
      </div>
    </div> -->
  </div>

</div>