<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>
  <div class="sub-banner">
    <h1>Step 1: Embrace Your Dream and Do a Diagnostic</h1>
  </div>
  <div class="content leader-content">
    <div class="item-box">
      <h2>Self diagnostic </h2>
      <p>Figure out your career goal and “lean into the wind” Assess your strengths and “value added” (in context of
        organization’s mission and business model) Identify gaps in your skill sets and experience</p>
    </div>
    <div class="item-box">
      <h2>Organizational diagnostic </h2>
      <p>Map the organizational landscape Understand the levers of power (what “deliverables” will get you promoted?)</p>
    </div>
  </div>
</div>