/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./reset";

$title-font: 'Playfair Display', sans-serif;
$text-font: sans-serif;

$primary-dark: #388e3c;
$secondary-dark: #6abf69;
$primary-light: #6abf69;
$secondary-light: #8559da;

$footer-bg: #808e95;

$banner-dark: #00b050;
$banner-light: #92d050;

