/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "./reset";
@import "./stylevariables";
//My Definitions Start Here
.banner {
    background: $banner-dark;
    font-size: 3rem;
    font-family: $title-font;
    padding: 1rem;
    text-shadow: 1px 1px 3px #000;
    color: white;
    padding: 2rem;
}

.sub-banner {
    padding: 1rem;
    margin-top: 2rem;
    background: $banner-light;
    font-size: 1.5rem;
    font-family: $text-font;
    text-align: center;
    color: white;
}

.content {
    padding-top: 2rem;
    font-family: $text-font;    
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}

.item-box {
    padding: 2rem;
    text-align: justify;
    max-width: 50rem;
    margin: 3rem auto;
    background: lighten($banner-light, 40%);
    font-family: $text-font;
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

.item-list {
    list-style-type: circle;
    padding-left: 2rem;
    font-family: $text-font;
    li {
        padding: .5rem;
        font-size: 1.2rem;
    }
}

.jumbotron {
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
    padding: 2rem;
}

.jumbotron-background {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 90%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    text-shadow: 1px 1px 3px #000;
    font-family: $title-font;
    font-size: 2rem;
}

.jumbotron p {
    font-family: $text-font;
}

.card {
    width: 20rem;
    height: 9rem;
    font-family: $text-font;
    font-size: 1rem;
}

.card-title {
    font-family: $title-font;
    font-size: 1.5rem;
}

.card-text {
    font-family: $text-font;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}