<div class="container">
  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>

  <div class="sub-banner">
    <p>Step 6: Give Critical Feedback on Hard Issues</p>
  </div>

  <div class="content exec-content row">
    <div class="col-sm-12 col-md-6">
      <div class="row pl-3">
        <div class="col-col-12">
          <h4>...on resume gaps</h4>
           <ul class="item-list">
            <li>Identify gaps in skills and experience and suggest ways to bridge them</li>
          </ul>
        </div>
        <div class="col-col-12">
          <h4>...on ambition</h4>
           <ul class="item-list">
            <li>Take time to understand your protégés’ aspirations</li>
            <li>Help protégés envision themselves in top roles</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <h4>…on Executive Presence blunders</h4>
      <div class="row">
        <div class="col-sm-12">
          <h4>Communication</h4>
           <ul class="item-list">
            <li>Over-reliance on notes or other props</li>
            <li>Constant device-checking (iPhone, BlackBerry, etc</li>
            <li>Failure to establish eye contact</li>
            <li>Shrill or defensive tone</li>
          </ul>
        </div>

        <div class="col-sm-12">
          <h4>Appearance</h4>
           <ul class="item-list">
            <li>Unkepmt or ill fitting attire</li>
            <li>Provocatively styled or fitted clothing</li>
          </ul>
        </div>

        <div class="col-sm-12">
          <h4>Gravitas</h4>
           <ul class="item-list">
            <li>Bad-mouthing colleagues</li>
            <li>Unethical conduct</li>
            <li>Arrogance</li>
            <li>"Losing your cool" in a meeting</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>