<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>

  <div class="sub-banner">
    <h1>Scan the horizon for powerful sponsors</h1>
  </div>

  <div>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>