<div class="container">

  <div class="banner">
    <h1>Roadmap for Sponsoring Executives</h1>
  </div>
  <div class="sub-banner">
    <h1>Step 3: Differentiate Between Mentees & Protégés</h1>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="sub-banner">
        <h2>A high-performing cadre of loyal, diverse protégés…</h2>
      </div>
      <ul class="item-list">
        <li>Expands your capacity to deliver </li>
        <li>Extends your span of influence </li>
        <li>Burnishes your brand/legacy </li>
        <li>Increases the likelihood that you will be promoted </li>
        <li>Boosts your IQ (innovation quotient) </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="sub-banner">
        <h2>High-potential mentees require of you…</h2>
      </div>

      <ul class="item-list">
        <li>Help with visioning a career destination </li>
        <li>Guidance on navigating the corporate ladder </li>
        <li>Counsel on how to handle difficult colleagues or situations </li>
        <li>Encouragement, support, and confidentiality </li>
      </ul>
    </div>
  </div>

  <div class="sub-banner mb-2">
    <p>Both can help you pay it forward, but only protégés pay you back on your investment</p>
  </div>
</div>

<div>