<div class="container">
  <div class="banner">
    <h1>Roadmap for Women Aspiring for Senior Leadership Role</h1>
  </div>

  <div class="sub-banner">
    <h1>Step 5: PLUS, Deliver a Distinct Personal Brand</h1>
  </div>
  <div class="content">

    <div class="item-box">
      <p> Bring cultural fluency or gender smarts to the table
        Deploy valuable technical expertise (quant skills, social media savvy)
        Display stand-out people skills and team leadership
        Leverage your intrinsic difference
      </p>
    </div>
  </div>
</div>